* {
  font-family: "Courier New";
  font-size: 20px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.calculator {
  border: 1px solid #000000;
  padding: 20px;
}
.display {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
  width: 280px;
}
.keys {
  display: grid;
  grid-template-areas:
    'one two three add'
    'four five six subtract'
    'seven eight nine multiply'
    'zero zero decimal divide'
    'clear clear equals equals';
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

button {
  border: 1px solid #000000;
  height: 50px;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#zero {
  grid-area: zero;
}

.decimalKey {
  grid-are: decimal;
}

.clearKey {
  grid-area: clear;
}

.equalsKey {
  grid-area: equals;
}
